.nav {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.nav button {
    background-color: transparent;
    border: none;
    font-size: 30px;
}
.homeAndProducts {
    display: flex;
    align-items: center;
    padding: 100px;
    background-color: rgba(241, 245, 248, 1);
}
.homeAndProducts button{
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: rgba(35, 82, 117, 1);
}
.searchAndButtons button {
    background-color: transparent;
    border: none;
    font-size: 20px;
}
.inputForSearch {
    border-radius: 10px;
    width: 200px;
    height: 30px;
}
.main {
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.img {
    width: 300px;
    height: 200px;
}
.all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}
.box {
    text-align: center;
    height: 300px;
    padding: 35px 15px;
}
.btnForBuy {
    display: none;
}
.imgWrapper {
    position: relative;
    width: 300px;
    height: 200px;
}
  
.clickText {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}
  
.box:hover .clickText {
    display: block;
}
  
  
.box:hover {
    border: 2px solid rgb(201, 201, 201);
    border-radius: 10px;
}
.box:hover .btnForBuy {
    display: inline;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 25px;
}
.box:hover .img {
    filter: brightness(60%);
}  
.numberOfBuyingThings {
    position: absolute;
    right: 160px;
    top: -10px;
    background-color: rgba(186, 93, 44, 1);
    color: white;
    padding: 5px;
    border-radius: 50%;
}
.priNamComCol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.redBtn {
    width: 50px;
    height: 50px;
    background-color: red;
    border: none;
    border-radius: 10px;
}
.blackBtn {
    width: 50px;
    height: 50px;
    background-color: black;
    border: none;
    border-radius: 10px;
}
.mainInfo {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.infoModalClose {
    background-color: rgba(186, 93, 44, 1);
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 20px;
}
.infoModal {
    width: 100%;
}
.colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
    font-size: 20px;
}
.groceryImg {
    width: 175px;
    height: 125px;
}
.groceryAll {
    width: 400px;
    height: 210vh;
    gap: 40px;
}
.grNaPr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.plusAndMinus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.groceryModal {
    margin-right: 1px;
}
.totalDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.total, .TTT {
    font-size: 20px;
}